.nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a60cff;
    font-size: 1.1rem;
    padding: 0 2rem;
}

.nav-link{
    text-decoration: none;
    margin: 1rem;
    position: relative;
    font-weight: 400;
    color: #ffff;
}

.nav-link:hover{
    text-decoration: underline;
    font-weight: 500;
}

.nav-logo{
    color: #ffff;
}