* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* main layout */
.css-yr3dgu{
    margin: 0 10%;
}

/* grid align */
.css-vu2j3m{
    justify-items: center;
}